<h6 style="color:red">Submit your sou.. rhg, cocktail</h6>

<div class="container">
  <%= simple_form_for(@cocktail) do |f| %>
  <div class="new-cocktail-form">
    <%= f.input :name %>
    <%= f.input :photo, as: :file %>
    <%= f.submit "Create cocktail", class: "btn btn-danger btnred" %>
  </div>
  <% end %>
</div>
