<h6 style="color:red">Submit your sou.. rhg, cocktail</h6>

<div class="container">
  <div class="new-cocktail-form">
    <%= simple_form_for(@cocktail) do |f| %>
      <div class="form-camp name-camp">
        <%= f.input :name %>
      </div>
       <div class="form-camp photo-camp">
        <%= f.input :photo, as: :file %>
      </div>
      <div class="form-camp">
        <%= f.submit "Create cocktail", class: "btn btn-danger btnred" %>
      </div>
    <% end %>
  </div>
</div>
