// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/homepage";
@import "pages/dose";
@import "pages/ingredient";

body{
  background-color:black;
}

h1{
  text-shadow: 2px 3px #660708;
  font-size:40px;
  font-style:italic;
  font-family: 'Shadows Into Light', cursive;
  margin-bottom:0px;
  color: #f4d58d;
}

h2{
  text-shadow: 2px 3px #660708;
  font-size:20px;
  margin-top:0px;
  margin-bottom:30px;
  font-family: 'Shadows Into Light', cursive;
  color: #f4d58d;
}
